
{{>header}}
    
    <p>{{msg}}</p>
    <form action="">
        <input type="text" placeholder="Location">
        <button>&telrec; Search</button>
    </form>
    <p class="p1"></p>
    <p class='p2'></p>
    </div>
   
{{>footer}}
    